<!-- Top NavBar -->
<div class="top-navbar">
  <div class="row">
    <div class="col-xs-2 text-center">
      <%= link_to image_tag("icon_redirect@2x.png"), :controller => :artists, :action => :home, :method => :get %>
    </div>
    <div class="col-xs-offset-2 col-xs-4 text-center">
      <p class="navbar-font">LIVLE</p>
    </div>
  </div>
</div>

<% @lists.each do |list| %>
  <div class="list-video">
    <div class="background-video">
      <img class="thumbnail-img" src="http://img.youtube.com/vi/<%= list.youtube_id %>/maxresdefault.jpg"/>
      <div id="list_<%= list.id %>"></div>
    </div>

    <div class="descript-stage-video text-center">
      <h1><%= list.title %></h1>
      <h2><%= list.artist %></h2>
      <h3>@<%= list.user_id %></h3>
    </div>

    <a href="/artists/<%= list.id %>/watch" class="btn-video" method="get"></a>
  </div>

  <style>
    #list_<%= list.id %> {
      filter: grayscale(65%);
      /*background: rgba(0, 0, 0, 0.65);*/
      /*background-size: cover;*/
      width: 100%;
      height: 100%;
      z-index: 99;
    }
  </style>
<% end %>