<div style="background: url(http://img.youtube.com/vi/<%= @list.youtube_id %>/maxresdefault.jpg) no-repeat center center;
    width: auto; height: 100%; overflow-y: hidden; background-size: cover;">
  <div class="detail-container">
    <!-- Top NavBar -->
    <div class="top-navbar">
      <div class="row">
        <div class="col-xs-2 text-center">
          <%= link_to image_tag("icon_redirect@2x.png"), :back %>
        </div>
        <div class="col-xs-offset-2 col-xs-4 text-center">
          <%= image_tag("icon_recording@2x.png", :style => "display: inline-block; margin-top: -6%;") %>
          <p class="navbar-font" style="display: inline-block; padding-left: 6%; color: #FF0000">LIVLE</p>
        </div>
      </div>
    </div>


    <hr>
    <!-- YOUTUBE VEDIO -->
    <div class="list-video">
      <iframe class="background-video" src='https://www.youtube.com/embed/<%= @list.youtube_id
      %>?rel=0&modestbranding=1&showinfo=0&loop=1&autoplay=1&playlist=<%= @list.youtube_id
      %>' frameborder='0' allowfullscreen></iframe>
    </div>

    <div class="detail-descript">
      <div class="row">
        <div class="col-xs-6">
          <h3><%= @list.title %> - <%= @list.artist %></h3>
          <h4>@<%= @list.user_id %></h4>
        </div>
        <div class="col-xs-2">
          <%= image_tag("icon_count_like@2x.png", :class => "display-horizon", :style => "margin-top: -22%;") %>
          <h4 class="display-horizon detail-text"><%= @list.count_like %></h4>
        </div>
        <div class="col-xs-2">
          <%= image_tag("icon_count_share@2x.png", :class => "display-horizon", :style => "margin-top: -22%;") %>
          <h4 class="display-horizon detail-text"><%= @list.count_share %></h4>
        </div>
        <div class="col-xs-2">
          <%= image_tag("icon_count_view@2x.png", :class => "display-horizon", :style => "margin-top: -22%;") %>
          <h4 class="display-horizon detail-text"><%= @list.count_view %></h4>
        </div>
      </div>
    </div>

    <hr>

    <div class="detail-buttons">
      <div class="row">
        <div class="col-xs-6 text-center">
          <%= image_tag("icon_heart@2x.png", :class => "display-horizon", :style => "margin-top: -13%;") %>
          <h3 class="display-horizon">Like</h3>
        </div>
        <div class="col-xs-6 text-center">
          <%= image_tag("icon_share@2x.png", :class => "display-horizon", :style => "margin-top: -16%;") %>
          <h3 class="display-horizon">Share</h3>
        </div>
      </div>
    </div>
  </div>
</div>