<!-- Top NavBar -->
<div class="top-navbar">
  <div class="text-center">
    <p class="navbar-font">LIVLE</p>
  </div>
</div>

<div id="list-container">
  <%= render @stages %>
</div>

<div class="infinite-scrolling">
  <%= will_paginate %>
</div>

<!-- Bottom NavBar -->
<div class="bottom-navbar">
  <div class="bottom-status">
    <div class="text-center">
      <%= image_tag('icon_circle_full@2x.png', :style => "width: 4%; height: auto; padding: 1%;") %>
      <%= image_tag('icon_circle_empty@x2.png', :style => "width: 3.5%; height: auto; padding: 1%;") %>
      <%= image_tag('icon_circle_empty@x2.png', :style => "width: 3.5%; height: auto; padding: 1%;") %>
    </div>
  </div>

  <div class="row">
    <a href="/stages/home" method="get">
      <div class="col-xs-4 text-center">
        <p class="navbar-font" style="color:#FF0000; padding: 2%;">Stage</p>
      </div>
    </a>
    <a href="/upcomings/home" method="get">
      <div class="col-xs-4 text-center">
        <p class="navbar-font" style="padding: 2%;">Upcoming</p>
      </div>
    </a>
    <a href="/artists/home" method="get">
      <div class="col-xs-4 text-center">
        <p class="navbar-font" style="padding: 2%;">Artist</p>
      </div>
    </a>
  </div>
</div>